* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #005AA7;  
  background: -webkit-linear-gradient(to bottom, #FFFDE4, #005AA7);  
  background: linear-gradient(to bottom, #FFFDE4, #005AA7); 
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  right: 80px;
  min-height: 100vh;
}
.content {
  height: 650px;
  width: 1000px;
  position: relative;
}
.content .images {
  height: 100%;
  width: 100%;
}
.content .images img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.btm-slides {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.btm-slides span {
  height: 15px;
  width: 50px;
  border: 2px solid white;
  margin: 0 3px;
  cursor: pointer;
}
.sliders {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  cursor: pointer;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.1);

}
.sliders:hover {
  background: rgba(255, 255, 255, 0.2);
}
.right {
  right: 0;
}
.sliders span {
  line-height: 41px;
  font-size: 45px;
  color: blue;

}
.boton-atras {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  position: relative;
  left: 470px;
  bottom: 500px;
}
.boton-atras a {
  color: blue;
}
#motion-demo {
  offset-path: path("M20,20 C20,50 50,0 400,50");
  animation: move 3000ms infinite alternate ease-in-out;
  
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}




