* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  background: none;
  width: 350px;
  height: 150px;
}
.nav-list {
  display: flex; 
  list-style-type: none;
  gap: 3rem;
}
.nav-list li a {
  color: rgb(var(--txt, var(--color_15)));
  text-decoration: none;
  color: #1c1c1c;
  transition: var(--trans, color 0.4s ease 0s);
}
.hover0 {
  transition: all 300ms;
}
.hover0:hover {
  transform: scale(1.22);
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

.vision {
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
.mision {
  display: flex;
  justify-content: center;
  position: relative;
  top: 60px;
  font-size: 30px;
}
.vs {
  background-color: #1c1c1c;
  border-radius: 30px;
  color: #ececec;
  padding: 5px;
}
.s {
  font-family: "Caveat", cursive;
  color: #1c1c1c;
}
.nombre {
  display: none;
}
.no-mbre {
  display: none;
}
.log-o {
  display: none;
}
.redes {
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
  gap: 30px;
  font-size: 22px;
}
.fb {
  color: #3b5998;
  transition: all 300ms;
}
.fb:hover {
  transform: scale(1.22);
}

.int {
  color: #517fa4;
  transition: all 300ms;
}
.int:hover {
  transform: scale(1.22);
}
.tw {
  color: #1da1f2;
  transition: all 300ms;
}
.tw:hover {
  transform: scale(1.22);
}
.redes-2 {
  display: none;
}

/* media only screen */

@media only screen and (max-width: 900px) {
  
  .logo {
    display: none;
  }
  .vision {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 100px;
  }
  .mision {
    display: flex;
    justify-content: center;
    position: relative;
    top: 120px;
    font-size: 20px;
  }
  .nombre {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 210px;
  }
  .n1 {
    background-color: #1c1c1c;
    color: #ececec;
    border-radius: 30px;
    padding: 5px;
  }
  .no-mbre {
    display: flex;
    justify-content: center;
    position: relative;
    top: 350px;
    background-color: #1c1c1c;
    
  }
  .n2 {
    /* background-color: #1c1c1c; */
    border-radius: 30px;
    color: white;
    font-size: 35px;
  }
 
  .redes {
    display: none;
    /* position: relative;
    top: 280px;
    font-size: 22px;
    gap: 30px; */
  }
  
  
  
  
}