* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); 
  background: linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); 

  font-family: sans-serif;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  padding: 12px 20px 12px 20px;
  border-radius: 20px;
  border-color: #1da1f2;
  outline: none;
  font-size: 15px;
  cursor: pointer;
}

.s-m {
  display: flex;
  justify-content: center;
  text-decoration: none;
  position: relative;
  bottom: 250px;
}
.s-m button {
  background-color: transparent;
  color: #3b5998;
  font-weight: bold;
}

/* players  */
.player {
  min-width: 320px;
  background-image: linear-gradient(black, gray);
  border-radius: 1rem;
  padding: 2rem;
  color: white;
  box-shadow: 2px 2px 3px #1c1c1c;
}
.cover {
  width: 200px;
  height: 250px;
}

/* title  */
.title {
  margin-top: 0;
  text-align: center;
}

/* cover  */
.cover {
  width: 128px;
  height: auto;
  border-radius: 3rem;
  display: block;
  margin: 0 auto 1rem auto;
}

/* progress  */
.progress-container {
  height: 1rem;
  background-color: lightgray;
  margin-bottom: 1rem;
}
.progres {
  background-color: goldenrod;
  width: 40%;
  height: 100%;
}

/* controls  */
.controls {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.controls button {
  background-color: transparent;
  /* border: none; */
}

/* songs  */
.songs {
  margin: 0;
  padding: 0;
  list-style: none;
}
.songs a {
  color: lightgray;
  text-decoration: none;
}
.songs li {
  margin-bottom: 0.5rem;
}
.songs a.active {
  color: white;
  font-weight: bold;
}
.redes-music {
  display: flex;
  justify-content: center;
  position: relative;
  top: 150px;
  gap: 30px;
  font-size: 22px;
}
.fb-m {
  color: #3b5998;
  transition: all 300ms;
}
.fb-m:hover {
  transform: scale(1.22);
}

.int-m {
  color: #517fa4;
  transition: all 300ms;
}
.int-m:hover {
  transform: scale(1.22);
}
.tw-m {
  color: #1da1f2;
  transition: all 300ms;
}
.tw-m:hover {
  transform: scale(1.22);
}



@media only screen and (max-width: 900px)   {
  
  button {
    padding: 12px 20px 12px 20px;
    border-radius: 20px;
    border-color: #1da1f2;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    left: 20px;
  }
  .player {
    min-width: 320px;
    background-image: linear-gradient(black, gray);
    border-radius: 12px;
    padding: 2rem;
    color: white;
    box-shadow: 2px 2px 3px #1c1c1c;
    position: relative;
    right: 36px;
  }

}
